<div class="nav">
    <h3 class="nav-title">Menu</h3>
    <a href="#" class="nav-close">
        <span class="hidden">Close</span>
    </a>
     {{#foreach navigation}}
            <a class="sidebar-nav-item" href="{{url absolute="true"}}">{{label}}</a>
     {{/foreach}}
    
</div>
<span class="nav-cover"></span>
